* {
    font-family: 'Lobster', cursive;
    font-weight:bolder;
    margin:0px;
    padding:0px;
}

body {
    display:flex;
    flex-direction: column;
    gap:75px;
    align-items:center;
    margin-top:10%;
}

h1 {
    font-size: 80px;
    mix-blend-mode: difference; /* Apply the blend mode */
}

.banner {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 30px;
}

.mainSelection {
    display:flex;
    gap:75px;
    align-items:center;
    justify-content: center;
}

.playerChoice, .computerChoice {
    width:200px;
    height:200px;
    border:3px solid black;
    border-radius:15px;
}

.optionArea {
    display: flex;
    flex-direction: column;
}

.optionArea > button {
    background-color:white;
    color:rgba(0, 0, 0, 0.675);
    border: 2px solid rgba(0, 0, 0, 0.500);
    border-radius:15px;
    transition: all .7s ease-out;
}

.optionArea > button:hover {
    color:rgba(0, 0, 0, 1.00);
    border: 2px solid rgba(0, 0, 0, 0.750);
}

.result {
    margin:-55px;
}