* {
    font-family: 'Lobster', cursive;
    font-weight:bolder;
    margin:0px;
    padding:0px;
}

body {
    display:flex;
    flex-direction: column;
    gap:75px;
}

h1 {
    font-size: 80px;
    mix-blend-mode: difference; /* Apply the blend mode */
}

.banner {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 30px;
}

.mainSelection {
    display:flex;
    gap:75px;
    align-items:center;
    justify-content: center;
}

.playerChoice, .computerChoice {
    width:200px;
    height:200px;
    border:3px solid black;
    border-radius:15px;
}

.optionArea {
}